<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-file/sheet-from-to-extract-sites" data-toc-modified-id="Import-file/sheet-from-to-extract-sites-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import file/sheet from to extract sites</a></span></li><li><span><a href="#Read-file-into-dataframe,-keep-relevant-columns" data-toc-modified-id="Read-file-into-dataframe,-keep-relevant-columns-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read file into dataframe, keep relevant columns</a></span></li><li><span><a href="#extract-SiteID" data-toc-modified-id="extract-SiteID-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>extract SiteID</a></span></li><li><span><a href="#Extract-lat-&amp;-long" data-toc-modified-id="Extract-lat-&amp;-long-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Extract lat &amp; long</a></span></li><li><span><a href="#Fix-SiteNames,-observed-typos,-and-relevant-capitalisation" data-toc-modified-id="Fix-SiteNames,-observed-typos,-and-relevant-capitalisation-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Fix SiteNames, observed typos, and relevant capitalisation</a></span></li><li><span><a href="#Keep-only-the-relevant-columns" data-toc-modified-id="Keep-only-the-relevant-columns-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Keep only the relevant columns</a></span></li><li><span><a href="#Export-SiteID-info" data-toc-modified-id="Export-SiteID-info-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Export SiteID info</a></span></li><li><span><a href="#Check-which-SiteNames-are-missing" data-toc-modified-id="Check-which-SiteNames-are-missing-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Check which SiteNames are missing</a></span></li></ul></div>

This notebook extracts Site info from files with this kind of format [BUV MOKES 04](https://docnz.sharepoint.com/:x:/r/teams/SpyfishAotearoa/_layouts/15/Doc.aspx?sourcedoc=%7B3488D733-A46B-4DF4-8394-C111F1766355%7D&file=BUV%20Mokes%2004%20-%20DOCDM-54594.xls)

In [1]:
import os
import pandas as pd

from ipyfilechooser import FileChooser
from IPython.display import display

## Import file/sheet from to extract sites

In [2]:
file_chooser = FileChooser(title='<b>Select the file from which to extract the sites</b>')
display(file_chooser)

FileChooser(path='/Users/kalindi/Desktop/dt/spyfish', filename='', title='<b>Select the file from which to extâ€¦

In [4]:
site_file_name = file_chooser.selected
assert site_file_name != None, "Select site_file_name in the cell above."
print(f"The site_file_name is {site_file_name}")

The site_file_name is /Users/kalindi/Desktop/dt/spyfish/BUV Mokes 04 - DOCDM-54594.xlsx

In [5]:
tabs = pd.ExcelFile(site_file_name).sheet_names
for i, e in enumerate(tabs):
    print(i, e)

FILE_NUM = int(input("select sheet you want to process: "))
sheet_name_select = tabs[FILE_NUM]
print("\nselected sheet name: ", sheet_name_select)

0 raw
1 size
2 leg subleg
3 max
select sheet you want to process: 0

selected sheet name:  raw

## Read file into dataframe, keep relevant columns

In [6]:
site_df= pd.read_excel(site_file_name, sheet_name=sheet_name_select )
print(site_df.columns)
site_df.sample(3)

Index(['STATION', 'SITE', 'DATE', 'TIME', 'DEPTH', 'LAT', 'LONG', 'AREA',
       'HABITAT', 'Stand', 'Unnamed: 10', 'Pagrus auratus',
       'Bodianus unimaculatus', 'Bodianus unimaculatus.1', 'Coris sandageri',
       'Coris sandageri.1', 'Notolabrus fucicola', 'Notolabrus fucicola.1',
       'Notolabrus inscriptus', 'Notolabrus inscriptus.1',
       'Pseudolabrus luculentus', 'Pseudolabrus luculentus.1',
       'Pseudolabrus miles', 'Pseudolabrus miles.1', 'Notolabrus celidotus',
       'Notolabrus celidotus.1', 'Suezichthys aylingi',
       'Suezichthys aylingi.1', 'Scorpaena cardinalis',
       'Caesioperca lepidoptera', 'Chromis dispilus', 'Scorpis lineolatus',
       'Scorpis violaceus', 'Gymnothorax prasinus', 'Gymnothorax nubilus',
       'Gymnothorax prionodon', 'Nemadactylus douglasii',
       'Nemadactylus macropterus', 'Pseudocaranx dentex', 'Parika scaber',
       'Cheilodactylus spectabilis', 'Upeneichthys lineatus',
       'Hypoplectrodes sp.', 'Seriola lalandi', 'Zeus faber',
       'Dasyatis thetidis', 'Caprodon longimanus', 'Enchelycore ramosa',
       'Ellerkeldia', 'Cephaloscyllium isabellum', 'Myliobatis tenuicaudatus',
       'Parapercis colias', 'Amphichaetodon howensis', 'Acanthistius cinctus',
       'Scorpanea papillosa', 'Dasyatis brevicaudatus', 'Chelidonichthys kumu',
       'Gymnothorax obesus', 'Chironemus marmoratus', 'Atypichthys latus',
       'Centrobeyx affinis', 'Canthigaster callisterna',
       'Parma alboscapularis', 'Kyphosus sydneanus', 'Coris picta',
       'Anampses elegans', 'Anampses elegans.1', 'Paristiopterus labiosus',
       'Odax pullus', 'Lotella rhacinus', 'Galeorhinus galeus',
       'Allomycterus jaculiferus', 'Hypoplectrodes huntii',
       'Carcharhinus brachyurus', 'Thyrsites atun', 'Raja sp.', 'Octopus',
       'Ophisurus serpens', 'Trachurus novaezelandiae',
       'Helicolenus percoides', 'Arripis trutta', 'Latrodopsis ciliaris',
       'Obliquichthys maryannae', 'Decapterus koheru',
       'Aplodactylus arctidens', 'Crayfish'],
      dtype='object')

,STATION,SITE,DATE,TIME,DEPTH,LAT,LONG,AREA,HABITAT,Stand,...,Octopus,Ophisurus serpens,Trachurus novaezelandiae,Helicolenus percoides,Arripis trutta,Latrodopsis ciliaris,Obliquichthys maryannae,Decapterus koheru,Aplodactylus arctidens,Crayfish
435,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
site_df = site_df[['STATION', 'SITE', 'DATE', 'TIME', 'DEPTH', 'LAT', 'LONG', 'AREA',
       'HABITAT', 'Stand', ]]
print(len(site_df))
site_df = site_df.dropna()
print(len(site_df))
site_df

864
27

,STATION,SITE,DATE,TIME,DEPTH,LAT,LONG,AREA,HABITAT,Stand
1,Mokes 2004-1,Greenstone Bay LHS,2004-04-29,11:10:00,35.0,35 56 62,175 08 58,Fanal,Sand,Old
33,Mokes 2004-2,East of cave - fanal,2004-04-29,11:55:00,30.0,35 56 66,175 08 78,Fanal,Sand,Old
65,Mokes 2004-3,Off greenstone - deep,2004-04-29,12:35:00,36.0,35 56 89,175 08 54,Fanal,Sand,New
97,Mokes 2004-4,Sunfish site,2004-04-29,12:45:00,41.0,35 58 77,175 08 90,Fanal,Sand/gravel,Old
129,Mokes 2004-5,Twins rock,2004-04-29,13:40:00,32.0,35 56 58,175 08 40,Fanal,Sand,New
161,Mokes 2004-6,North twins point,2004-04-29,13:50:00,31.0,35 56 35,175 08 48,Fanal,Sand,Old
193,Mokes 2004-7,South of Murrays slot,2004-04-29,14:45:00,43.0,35 56 14,175 08 21,Fanal,Sand,New
225,Mokes 2004-9,North Murrays slot,2004-04-29,15:45:00,47.0,35 56 11,175 08 43,Fanal,Sand,New
257,Mokes 2004-10,Outside Arches,2004-04-29,17:20:00,35.0,35 55 186,175 06 32,Trig,Sand,New
289,Mokes 2004-11,Sphinx Rock,2004-04-30,07:05:00,25.0,35 54 68,175 06 70,Burgess,Sand,New
321,Mokes 2004-13,Lighthouse Cove,2004-04-30,08:00:00,36.0,35 54 35,175 07 08,Burgess,Sand,New
353,Mokes 2004-14,Between Moonlight and Lizard,2004-04-30,08:15:00,24.0,35 54 60,175 06 55,Burgess,Sand,Old
385,Mokes 2004-15,SE Moonlight Bay,2004-04-30,09:10:00,24.0,35 54 91,175 06 74,Trig,Sand/gravel,Old
417,Mokes 2004-16,Moonlight Bay,2004-04-30,10:05:00,18.0,35 54 59,175 06 43,Trig,Sand,New
449,Mokes 2004-17,Inside SE Moonlight Bay,2004-04-30,10:10:00,16.0,35 54 82,175 06 37,Trig,Rock with carpo,Old
481,Mokes 2004-18,North Lighthouse Bay,2004-04-30,11:!5,49.0,35 54 33,175 07 28,Burgess,Sand,New
513,Mokes 2004-19,Sentinal Bay,2004-04-30,11:30:00,16.0,35 54 92,175 06 26,Trig,Sand/some rocks,Old
545,Mokes 2004-20,Maori Bay,2004-04-30,12:30:00,12.0,35 54 55,175 06 39,Trig,Sand,New
577,Mokes 2004-21,Edith Passage (South),2004-04-30,12:40:00,10.0,35 54 85,175 06 41,Burgess,Sand,Old
609,Mokes 2004-22,Edith Passage (North),2004-04-30,13:30:00,24.0,35 54 39,175 06 35,Trig,Rock/ecklonia,Old
641,Mokes 2004-23,Exclamation Rock,2004-04-30,14:20:00,19.0,35 54 85,175 05 73,Trig,Sand,New
673,Mokes 2004-24,South Gardens,2004-04-30,14:25:00,12.0,35 54 85,175 05 02,Trig,Gravel/rock,Old
705,Mokes 2004-25,Breakfast Bay,2004-05-06,10:40:00,15.5,35 56 26,175 08 96,Fanal,Rock/ecklonia,Old
737,Mokes 2004-26,Marble Cliffs,2004-05-06,11:30:00,23.0,35 56 38,175 09 07,Fanal,Stoney/gravel,Old
769,Mokes 2004-27,North Arch Roxk,2004-05-06,16:30:00,37.0,35 54 44,175 06 77,Trig,Sand,New
801,Mokes 2004-28,House Bay,2004-05-06,15:00:00,37.0,35 54 17,175 06 77,Trig,Sand/rocks,Old
833,Mokes 2004-29,Arches,2004-05-06,16:30:00,6.0,35 54 68,175 06 12,Trig,Sand,New

## extract SiteID

In [8]:
def get_SiteID(station):
    return "MOK_" + station.split("-")[-1].zfill(3)

In [9]:
site_df["SiteID"] = site_df["STATION"].apply(get_SiteID)
site_df.sample(3)

,STATION,SITE,DATE,TIME,DEPTH,LAT,LONG,AREA,HABITAT,Stand,SiteID
353,Mokes 2004-14,Between Moonlight and Lizard,2004-04-30,08:15:00,24.0,35 54 60,175 06 55,Burgess,Sand,Old,MOK_014
193,Mokes 2004-7,South of Murrays slot,2004-04-29,14:45:00,43.0,35 56 14,175 08 21,Fanal,Sand,New,MOK_007
417,Mokes 2004-16,Moonlight Bay,2004-04-30,10:05:00,18.0,35 54 59,175 06 43,Trig,Sand,New,MOK_016

## Extract lat & long

In [10]:
def convert_lat_long(val):
    deg, minutes, seconds = val.split(" ")
    new_val = int(deg) + int(minutes) / 60 + int(seconds) / 3600
    # for NZ locations
    if new_val < 100:
        new_val *= -1
    return new_val

# print(convert_lat_long("35 56 66"))
# print(convert_lat_long("175 08 78"))

In [11]:
site_df["Latitude"] = site_df["LAT"].apply(convert_lat_long).round(6)
site_df["Longitude"] = site_df["LONG"].apply(convert_lat_long).round(6)
site_df.sample(3)

,STATION,SITE,DATE,TIME,DEPTH,LAT,LONG,AREA,HABITAT,Stand,SiteID,Latitude,Longitude
193,Mokes 2004-7,South of Murrays slot,2004-04-29,14:45:00,43.0,35 56 14,175 08 21,Fanal,Sand,New,MOK_007,-35.937222,175.139167
1,Mokes 2004-1,Greenstone Bay LHS,2004-04-29,11:10:00,35.0,35 56 62,175 08 58,Fanal,Sand,Old,MOK_001,-35.950556,175.149444
65,Mokes 2004-3,Off greenstone - deep,2004-04-29,12:35:00,36.0,35 56 89,175 08 54,Fanal,Sand,New,MOK_003,-35.958056,175.148333

## Fix SiteNames, observed typos, and relevant capitalisation

one can add more examples of mistakes to make it more robust

In [12]:
def fix_names(name):
    name_list = name.split(" ")
    
    # TODO: could instead just keep words such as of, and etc lowercase and everything else upper case
    
    for i,w in enumerate(name_list):
        if w in ["bay", "slot", "twins", "point", "site", "rock", "cave", "greenstone"]:
            name_list[i] = w.capitalize()
        
        if w == "Roxk":
            name_list[i] = "Rock"
    
    if name_list == ["Arches"]:
        name_list = ["The Arches"]

    return " ".join(name_list)

site_df["SiteName"] = site_df["SITE"].apply(fix_names)
site_df.sample(3)

,STATION,SITE,DATE,TIME,DEPTH,LAT,LONG,AREA,HABITAT,Stand,SiteID,Latitude,Longitude,SiteName
289,Mokes 2004-11,Sphinx Rock,2004-04-30,07:05:00,25.0,35 54 68,175 06 70,Burgess,Sand,New,MOK_011,-35.918889,175.119444,Sphinx Rock
833,Mokes 2004-29,Arches,2004-05-06,16:30:00,6.0,35 54 68,175 06 12,Trig,Sand,New,MOK_029,-35.918889,175.103333,The Arches
801,Mokes 2004-28,House Bay,2004-05-06,15:00:00,37.0,35 54 17,175 06 77,Trig,Sand/rocks,Old,MOK_028,-35.904722,175.121389,House Bay

## Keep only the relevant columns
check if it makes sense before exporting

In [13]:
# If needed can add more columns
site_df_to_extract = site_df[['SiteID', 'SiteName', 'Latitude', 'Longitude']]
site_df_to_extract.reset_index(drop=True)
site_df_to_extract

      SiteID                      SiteName   Latitude   Longitude
1    MOK_001            Greenstone Bay LHS -35.950556  175.149444
33   MOK_002          East of Cave - fanal -35.951667  175.155000
65   MOK_003         Off Greenstone - deep -35.958056  175.148333
97   MOK_004                  Sunfish Site -35.988056  175.158333
129  MOK_005                    Twins Rock -35.949444  175.144444
161  MOK_006             North Twins Point -35.943056  175.146667
193  MOK_007         South of Murrays Slot -35.937222  175.139167
225  MOK_009            North Murrays Slot -35.936389  175.145278
257  MOK_010                Outside Arches -35.968333  175.108889
289  MOK_011                   Sphinx Rock -35.918889  175.119444
321  MOK_013               Lighthouse Cove -35.909722  175.118889
353  MOK_014  Between Moonlight and Lizard -35.916667  175.115278
385  MOK_015              SE Moonlight Bay -35.925278  175.120556
417  MOK_016                 Moonlight Bay -35.916389  175.111944
449  MOK_017       Inside SE Moonlight Bay -35.922778  175.110278
481  MOK_018          North Lighthouse Bay -35.909167  175.124444
513  MOK_019                  Sentinal Bay -35.925556  175.107222
545  MOK_020                     Maori Bay -35.915278  175.110833
577  MOK_021         Edith Passage (South) -35.923611  175.111389
609  MOK_022         Edith Passage (North) -35.910833  175.109722
641  MOK_023              Exclamation Rock -35.923611  175.103611
673  MOK_024                 South Gardens -35.923611  175.083889
705  MOK_025                 Breakfast Bay -35.940556  175.160000
737  MOK_026                 Marble Cliffs -35.943889  175.151944
769  MOK_027               North Arch Rock -35.912222  175.121389
801  MOK_028                     House Bay -35.904722  175.121389
833  MOK_029                    The Arches -35.918889  175.103333

## Export SiteID info

In [15]:

def export_to_annotations(df_with_vals, file_name, export_csv_file_name=None):
    if not export_csv_file_name:
        export_file_name = os.path.basename(file_name)
        export_file_name = export_file_name[:export_file_name.find('.')]
        export_csv_file_name = f"sites_{export_file_name}.csv"
 
   # make export folder in current folder 
    path_to_export = os.path.join(os.path.dirname(file_name), "export")
    print(path_to_export)
    os.makedirs(path_to_export, exist_ok=True)
    export_location = os.path.join(path_to_export, export_csv_file_name)
    
    print(f"Exporting data to file: '{export_location}'")
    df_with_vals.to_csv(export_location) 
    

print(f"Showing sample of export with shape: {site_df_to_extract.shape}")
display(site_df_to_extract.sample(10))
export_to_annotations(site_df_to_extract, site_file_name)

Showing sample of export with shape: (27, 4)

      SiteID                      SiteName   Latitude   Longitude
513  MOK_019                  Sentinal Bay -35.925556  175.107222
577  MOK_021         Edith Passage (South) -35.923611  175.111389
801  MOK_028                     House Bay -35.904722  175.121389
161  MOK_006             North Twins Point -35.943056  175.146667
289  MOK_011                   Sphinx Rock -35.918889  175.119444
385  MOK_015              SE Moonlight Bay -35.925278  175.120556
545  MOK_020                     Maori Bay -35.915278  175.110833
353  MOK_014  Between Moonlight and Lizard -35.916667  175.115278
65   MOK_003         Off Greenstone - deep -35.958056  175.148333
609  MOK_022         Edith Passage (North) -35.910833  175.109722

/Users/kalindi/Desktop/dt/spyfish/export
Exporting data to file: '/Users/kalindi/Desktop/dt/spyfish/export/sites_BUV Mokes 04 - DOCDM-54594.csv'

## Check which SiteNames are missing

Copy paste the names from the BUV SiteNames on Sharepoint to compare

In [16]:
existing_sites = """Lizard Island
Maori Bay
Maori Bay
Marble Cliffs
Marble Cliffs
Moonlight Bay
Moonlight Bay
Murray's Slot
Murray's Slot
Navire Rock
Perfection Bay
Sentinal Bay
Sentinal Bay
South Something
Breakfast Bay
Dragon Cove
Exclamation Rock
Exclamation Rock
Faces Rock
Flax Island
Forefinger Cove
Greenstone Bay
Greenstone Bay
House Bay
House Bay
Lighthouse Cove
Sunfish Site
The Arches""".split("\n")

In [19]:
site_names = list(site_df_to_extract["SiteName"])
site_names

['Greenstone Bay LHS',
 'East of Cave - fanal',
 'Off Greenstone - deep',
 'Sunfish Site',
 'Twins Rock',
 'North Twins Point',
 'South of Murrays Slot',
 'North Murrays Slot',
 'Outside Arches',
 'Sphinx Rock',
 'Lighthouse Cove',
 'Between Moonlight and Lizard',
 'SE Moonlight Bay',
 'Moonlight Bay',
 'Inside SE Moonlight Bay',
 'North Lighthouse Bay',
 'Sentinal Bay',
 'Maori Bay',
 'Edith Passage (South)',
 'Edith Passage (North)',
 'Exclamation Rock',
 'South Gardens',
 'Breakfast Bay',
 'Marble Cliffs',
 'North Arch Rock',
 'House Bay',
 'The Arches']

In [20]:
set_existing_sites = set(existing_sites)
set_site_names = set(site_names)
in_existing = sorted(list(set_existing_sites - set_site_names))
in_mok_file = sorted(list(set_site_names - set_existing_sites))

print("Present in BUV Sites\n", in_existing)
print("Present in MOK file\n", in_mok_file)
print(len(in_existing))
print(len(in_mok_file))

Present in BUV Sites
 ['Dragon Cove', 'Faces Rock', 'Flax Island', 'Forefinger Cove', 'Greenstone Bay', 'Lizard Island', "Murray's Slot", 'Navire Rock', 'Perfection Bay', 'South Something']
Present in MOK file
 ['Between Moonlight and Lizard', 'East of Cave - fanal', 'Edith Passage (North)', 'Edith Passage (South)', 'Greenstone Bay LHS', 'Inside SE Moonlight Bay', 'North Arch Rock', 'North Lighthouse Bay', 'North Murrays Slot', 'North Twins Point', 'Off Greenstone - deep', 'Outside Arches', 'SE Moonlight Bay', 'South Gardens', 'South of Murrays Slot', 'Sphinx Rock', 'Twins Rock']
10
17